
<style>
    body{
        background-image: url(../../../1.jpg);
    }

    .parent {
  border: 2px solid rgb(244, 238, 238);
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}
.child {
  display: inline-block;
  border: 1px solid rgb(244, 239, 239);
  padding: 1rem 1rem;
  vertical-align: middle;
}
p{
  color: seashell;
}
h3{
  color:azure
}
</style>
<h3>Edit User</h3>

<div class="parent">
  <div class="child">
    <p >First Name</p>
    <input type="text" name="First Name">
    <p>Last Name</p>
    <input type="text" name="Last Name">
  </div>

  <div class="child">
    <p>User Name</p>
    <input type="text" name="User Name">
  
    <p>Password</p>
    <input type="password" name="Password">
  </div>
  <br>
  <br>
  <div display="inline-block"><button >Save  </button><button>Cancel</button></div>
</div>

