<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <div class="hero">
        <div class="form1">
            <h2 style="text-align:center" class="regis">Registration Page</h2>
            <form id="register" class="input-group" #userform="ngForm" (ngSubmit)="onRegister(userform.value)">
                <div class="form-group">
                    <label for="userid">Enter the User ID</label>
                    <input #name="ngModel" type="text" class="input-field" required name="userid" ngModel>
                    <div *ngIf="name.touched && name.invalid" class="alert-danger">*User ID is required</div>
                </div>
                <div class="form-group">
                    <label for="emailid">Enter the email ID</label>
                    <input #email="ngModel" type="email" class="input-field" required name="emailid" ngModel>
                    <div *ngIf="email.touched && email.invalid" class="alert-danger">
                       *email is required</div>
                </div>
                <div class="form-group">
                    <label for="password">Enter the password</label>
                    <input #pass="ngModel" minlength="8" type="password" class="input-field" required  name="password" [(ngModel)]="registerArray.password" ngModel>
                    <div *ngIf="pass.touched && pass.invalid" class="alert-danger">
                         <div *ngIf="pass.errors?.required">*password id required</div>
                        <div *ngIf="pass.errors?.minlength">*password must contain 8 characters</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="Cpassword">confirm the password</label>
                    <input #cpass="ngModel" size="50" type="password" class="input-field" required name="Cpassword" [(ngModel)]="registerArray.Cpassword" ngModel>
                  
                    <div *ngIf="cpass.touched && pass.invalid" class="alert-danger">
                         <div *ngIf="cpass.errors?.required">*confirm the password </div>
                        
                    </div>
                    <div *ngIf="registerArray.password !== registerArray.Cpassword"><p style="color:rgb(226, 19, 19)">password did not matched</div>
                </div>

                <input type="checkbox" class="check-box">agree to the terms and conditions
                <div class="bt">

                    <button type="submit" class="submit-btn">Register</button>
                </div>
                <div class="bt">

                    
                    <button type="button" class="submit-btn" (click)="loginFunction()">login</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
