*{
    margin:0;
    padding:0;
    font-family:sans-serif;
}
.hero{
    height:100%;
    width:100%;

}
.form1{
    width:380px;
    height:620px;
    position:relative;
    margin:6% auto;
    background: rgb(174, 182, 184);
    padding:5px;
    overflow:hidden;
}
.h2{
    align-content: center;
}
.submit-btn{
    
     width: 80%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;

    
}
.bt{
    width:100%;
    padding: 4px;
    text-align: center;
}

.input-group{
    top:150px;
    position:absolute;
    width:280px;
    //transition:.5s;
}
.input-field{
    width:100%;
    padding:0px 0;
    margin:10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1 px solid #999;
    outline:none;
    background:transparent;
}
.check-box{
    margin:6px 10px 30px 0;
}
span{
    color:rgb(44, 0, 40);
    font-size:12px;
    bottom:68px;
    position: absolute;
}

#register{
    left: 50px;
}
.regis{
    padding-top: 70px;
    width: 340px;
}
.alert-danger {
    color: red;
}
.alert{
    color:rgb(226, 19, 19);
}
.p1{
    color:red;
}

