
<style>
  body{
    
    background-image: url(../../../1.jpg);
  }
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.image{
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),url(../../../1.jpg);
    background-position:center;
    background-size:cover;
    position:absolute;

}

h2{
 color: white;
}
button{
  border-radius: 4px;
}
td, th {
  border: 1px solid #140101;
  text-align: left;
  padding: 8px;
  background-color: #dddddd;
}

</style>
<div><h2  >Users List</h2></div>
    
    <br>
    <div> 
        <button> ADD USER </button>
    </div>
    <br>

  <div>
    <table>
        <tr>
          <th>First Name</th>
          <th>Last Name </th>
          <th>User Name </th>
          <th>Operations</th>
        </tr>
        <tr *ngFor="let user of userList
        ">
          <td>{{user.name}}</td>
          <td>Thappita</td>
          <td>Sreedevi1031</td>
          <td><div>
            <button routerLink="/app-edit-user">Edit</button>
            <button (click)="deleteUser(user)">Delete</button>
          </div></td>
        </tr>
        </table>
  

  </div>
  