*{
    margin:0;
    padding:0;
}
.image2{
    height:100%;
    width:100%;
    background-image:linear-gradient(rgba(0,0,0,0.4),
    rgba(0,0,0,0.4)),url(../../../1.jpg);
    background-position:center;
    background-size:cover;
    position:absolute;

}

.form1{
    width:380px;
    height:420px;
    position:relative;
    margin:6% auto;
    background:#fff;
    padding:5px;
}
.but{
    width:220px;
    margin:35px auto;
    position:relative;
    box-shadow:0 0 20px 9px #ff61241f;
    border-radius:30px;
}
.tog{
    width: 95px;
    height: 40px;
    padding: 5px 24px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;

}
#gtn{
    top:0;
    left:0;
    position:absolute;
    width:110px;
    height:100%;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border-radius:30px;
    transition:.5s;
}
.inpt{
    top:150px;
    position:absolute;
    width:280px;
    padding-left: 40px
    ;
    //transition:.5s;
}
.inpt-field{
    width:100%;
    padding:10px 0;
    margin:5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline:none;
    background:transparent;
}
.submt{
    width:40%;
    padding:10px 10px;
    cursor:pointer;
    display:block;
    margin:auto;
    background:linear-gradient(to right,#ff105f,#ffad06);
    border:0;
    outline:none;
    border-radius:30px;
}
.chck{
    margin:10px 10px 30px 0;
}
span{
    color:#777;
    font-size:12px;
    bottom:72px;
    position:absolute;
}
.validation{
    color: #ff105f;
}