<html>

<head>
    <title>login page</title>
</head>

<body>
    <div class="image2">
        <div class="form1">
            <div class ="but">
                <div id="gtn"></div>
                <button type="button" class="tog">Log In</button>
                <button type="button" class="tog" (click)="registrationFunction()">Registration</button>
            </div>
            <form [formGroup]="loginForm" #userform="ngForm" (ngSubmit)="onSubmit(userform.value)" class="inpt" novalidate>
                <div>
                    <input type="text" formControlName="email" class="inpt-field" placeholder="User Email" name="userid" ngModel>
                    <small class="validation" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.errors?.required">*Email is required</small>
                    <small class="validation" *ngIf="loginForm.controls.email && loginForm.controls.email.errors?.email"> *Email address not well formed.!</small>
                </div>
                <div>
                    <input type="password" formControlName="password" class="inpt-field" placeholder="Enter Password" name="password" ngModel>
                    <small class="validation" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.required">*password is required</small>
                    <small class="validation" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.errors?.minLength"> *password must be 6 characters.!</small>
                </div>
                <div>
                    <input type="checkbox" class="check-box"><span>Remember Password</span>
                    <button type="submit" class="submit-btn" routerLink="/UserDetails">Log In</button>
                </div>
            </form>
         </div>
         
    </div>
</body>
</html>