<div class="get-userdetails">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>s.no</th>
            <th>Name</th>
            <th>EmailId</th>  
            <th>Edit</th> 
            <th>Delete</th>   
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let details of data | paginate: { itemsPerPage: 3, currentPage: p }">
             <td><span>{{details.serialNo}}</span></td>
            <td><span>{{details.name}}</span></td>
            <td><span>{{details.email}}</span></td>
            <td><span><button type="button" class="btn btn-primary" (click)="EditFunction(details._id)">Edit</button></span></td>
            <td><span><button type="button" class="btn btn-primary" (click)="DeleteFunction(details._id)">Delete</button></span></td>
        </tr>
        </tbody>
    </table>
    <pagination-controls (pageChange)="p = $event" class="text-center"></pagination-controls>
</div>
