<div class="jumbotron">
    <h1 class="text-center">Edit & Update Restaurant Form</h1>
</div>
<!-- <form [formGroup]="editDetails" class="text-center" (ngSubmit)="updateDetails()"> -->
    <div class="form-group" class="text-center" >
        <label>Username</label>
        <input type="text" class="input-group-text" placeholder="Enter Name" [(ngModel)]="editDetails.name" (change)="onUpdate('name')">
    </div>
    <div class="from-group" class="text-center">
        <label>EmailId</label>
        <input type="text" class="input-group-text" placeholder="Enter EmailId" [(ngModel)]="editDetails.email" (change)="onUpdate('email')">
    </div>
    <div class="text-center">
        <button type="button" class="btn btn-primary" (click)="updateDetails()">Update</button>
    </div>
<!-- </form> -->
